html, body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-family: 'Times New Roman';
    font-size: min(3vw, 3vh);
    font-weight: normal;
    font-style: normal;
    color: white;
    margin-top: 0px;
    margin-left: 0px;
    background-image: url("images/background.png");
    background-size: cover;
    letter-spacing: 0.003em;
}

.pagination {
    width: 100%;
    bottom: 3%;
    position: fixed;
    text-align: center;
    z-index: 1000;
}

.page {
    border-radius: 10%;
    width: 5%;
    margin: 0 0.5%;
    transition: transform 0.1s ease; /* Smooth transition */
}

.page:hover
{
    transform: scale(1.1);
}

.pageActive {
    border-radius: 10%;
    width: 5%;
    margin: 0 0.5%;
}

.header {
    width: 100%;
    margin: auto;
    margin-top: -35%;
}

.slide {
    width: 100%;
    height: 80%;
    min-height: 50%;
    color: #000;
    position: absolute;
    top: 5%;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0;
    text-align: left;
    overflow: visible;
    display: flex;
    justify-content: center;
    align-items: center;
}

.label {
    border-radius: 4px;
    font-family: 'Bahnschrift';
    text-align: center;
    color: white;
    padding: 4px;
    line-height: normal;
    padding-left: 6px;
    padding-right: 6px;
    display: inline-block;
    margin-bottom: 0.2em;
    margin-right: 0.2em;
    font-size: 1.6vw;
    transition: transform 0.1s ease; /* Smooth transition */
}

a {
    color: #d86b29; /* Normal link */
    text-decoration: none; /* Removes underline */

    font-family: 'Gill Sans';
    font-size: min(1.6vw, 1.6vh);
    font-weight: bold;
    font-style: normal;
}

a:hover {
    color: #f58f2c; /* When mouse hovers over */
}

a:active {
    color: #f58f2c; /* When clicking */
}   

.label:hover
{
    transform: scale(1.05);
}

.gametags {
    margin-top: 1%;
    margin-bottom: 1%;
    height: fit-content;
    width: fit-content;
    position: absolute;
    transform: translateY(50%); /* Moves it up by 50% of its own height */
    padding-top: 1%;
    padding-bottom: 1%;
}

.orange {
    background-color: #d86b29;
}

.orange2 {
    background-color: #9d421e;
}

.orangeDark {
    background-color: #8a4831;
}

.orangeLight {
    background-color: #f58f2c;
}

.screenshot {

}

.landscape {
    margin-left: -5%;
    width: 50%;
    min-width: 2px;
    position: relative;
    display: block;
    float: left;
    clear: left;
    overflow:visible;
    background-size: 100%;
    box-shadow: 4px 4px 20px -6px rgba(0, 0, 0, 0.2);
    border-radius: 6px;
}

.pfp {
    background-image:url("images/IconPfp512.png");
}

.assets {
    background-image: url("images/assets16.png");
}

ul {
    padding: 2px;
    font-size: min(1.2vw, 1.2vh);
}

li {
    margin-left: 1em;
    margin-bottom: 0.3em;
    font-size: min(3vw, 3vh);
}



.video {
    width: 100%;
    height: 100%;
    float: left;
    overflow: hidden;
    border-radius: 6px;
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-container {
    width: 100%;
    height: 100%;
}

.swiper-slide img {
    display: block;
    object-fit: cover;
}

.square {
    width: 35vw;
    height: 60vh;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}





.game {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Two columns: Video (50%) | Text (50%) */
    gap: 20px; /* Space between columns */
    align-items: start; /* Align items at the top */
    width: 95%;
    float: left;
    margin-left: 2%;
    margin-right: 2%;
    line-height: 1.2;
    color: white;
    font-family: 'Times New Roman';
}

.game-description {
    /*display: grid;
    grid-template-columns: 1fr 1fr;*/ /* Two columns: Video (Left) | Title + Text (Right) */
    /*gap: 20px;*/ /* Space between columns */
    /*align-items: start;*/ /* Align items at the top */
}

.video-div {
    grid-row: 1 / span 2; /* Spans 2 rows */
    grid-column: 1; /* Ensures it's on the left */
    min-height: 50px; /* Set a reasonable minimum height */
    min-width: 50px; /* Set a reasonable minimum height */
    height: auto;
    width: 100%;
    float: left;
    overflow: hidden;
    border-radius: 6px;
}

.text-div {
    /*grid-column: 2;*/ /* Stays in the right column */
    /*grid-row: 2;*/
    width: 100%;
    float: left;
    /*overflow: hidden;*/
    border-radius: 6px;
    padding-left: 2%;
}

.title-div {
    grid-column: 2; /* Ensures it's on the right */
    grid-row: 1;
    display: flex;
    /* flex-direction: row-reverse;  Makes items start from the right */
    width: 100%;
    float: left;
    height: 7vw;
}






.title-div span {
    float: left;
    text-align: center;
}

.title-div a {
    padding-left: 0.8em;
    text-align: left;
    height: 70%;

}

.title-div img {
    transition: transform 0.1s ease; /* Smooth transition */
    object-fit: contain;
    width: 100%;
    height: 70%;
}

.title-div img:hover {
    transform: scale(1.1);
}







.description-me {
    width: 60%;
    height: fit-content;
    float: left;
    margin-left: 20px;
    color: white;
    line-height: 1.2;
    font-family: 'Times New Roman';
}

.play {
    content: url(images/game.png);
    width: 20%;
}

.play:hover {
    content: url(images/gameactive.png);
}

.hub {
    content: url(images/github.png);
}

.hub:hover {
    content: url(images/githubactive.png);
}

.store {
    content: url(images/store.png);
}

.store:hover {
    content: url(images/storeActive.png);
}

.description-project {
    margin-top: -2%;
    width: 100%;
    float: left;
    height: fit-content;
    font-weight: 400;
}

.title-project {
    font-size: min(5vw, 5vh);
    font-weight: bold;
    text-shadow: 2px 2px 2px rgba(150, 150, 150, 0.4);
    height: fit-content;
}

.intro {
    width: 90%;
    text-align: center;
    margin: auto;
    margin-top: 35%;
}

#title {
    font-family: 'Gill Sans';
    font-size: min(9vw, 9vh);
    font-weight: normal;
    width: 100%;
    font-style: normal;
    color: white;
    text-shadow: 2px 2px 2px rgba(150, 150, 150, 0.4);
    margin: auto;
}

#intro-text {
    font-family: 'Bahnschrift';
    font-weight: 400;
    font-style: normal;
    color: white;
    margin-bottom: 1em;
    margin-top: 2em;
    line-height: 1.6em;
    text-align: center;
    letter-spacing: 0.003em;
}

.quick_links {
    width: 45%;
    margin-top: 2%;
    margin-left: 25%;
    margin-right: 25%;
    height: 10vh;
    position: fixed;
}

    .quick_links img {
        float: left;
        margin-right: 2%;
        margin-left: 2%;
        width: min(8%, 8%);
        transition: transform 0.1s ease; /* Smooth transition */
    }

.quick_links img:hover{
    transform: scale(1.1);
}

/*LinkedIn*/
.quick_links #linkedin { content: url(images/linkedin.png); }

.quick_links #linkedin:hover { content: url(images/linkedinactive.png); }

/*GitHub*/
.quick_links #github { content: url(images/github.png); }

.quick_links #github:hover { content: url(images/githubactive.png); }

/*Mail*/
.quick_links #mail { content: url(images/mail.png); }

.quick_links #mail:hover { content: url(images/mailactive.png); }

/*CV*/
.quick_links #cv { content: url(images/cv.png); }

.quick_links #cv:hover { content: url(images/cvactive.png); }

/*Instagram*/
.quick_links #instagram { content: url(images/insta.png); }

.quick_links #instagram:hover { content: url(images/instagramActive.png); }

/*TikTok*/
.quick_links #tiktok { content: url(images/tiktok.png); }

.quick_links #tiktok:hover { content: url(images/tiktokActive.png); }

/*Twitter*/
.quick_links #twitter { content: url(images/twitter.png); }

.quick_links #twitter:hover { content: url(images/twitteractive.png); }

/*Store*/
.quick_links #store { content: url(images/store.png); }

.quick_links #store:hover { content: url(images/storeActive.png); }

@media (max-width: 767px) and (orientation: portrait) {

    .game {
        display: grid;
        grid-template-columns: 1fr; /* Forces a single column */
        grid-template-rows: auto auto auto; /* Ensures all items stack */
        margin-top: 5%;
    }

    .video-div {
        grid-row: 2;
        grid-column: 1;
    }

    .text-div {
        grid-row: 3;
        grid-column: 1;
    }

    .description-project {
        font-size: min(3vw, 3vh);
    }

    .screenshot {
        display:none;
    }

    .slide {
        height: 90%;
        top: 0%;
        display: block;
    }

    li {
        font-size: min(3vw, 3vh);
    }

    #intro-text {
        font-size: min(3vw, 3vh);
    }

    .title-project {
        margin-top: 5%;
        font-size: min(6vw, 6vh);
    }

    #title {
        font-size: min(10vw, 10vh);
    }

    .gametags {
        transform: translateY(100%);
    }

    .label {
        font-size: min(3vw, 3vh);
        padding: 2px 4px;
    }

    .title-div {
        grid-row: 1;
        grid-column: 1;
        height: min(11vw, 11vh);
        display: flex;
        width: 100%;
        transform: translateY(-50%);
    }

        .title-div span {
            float: left;
            text-align: center;
            margin-top: 3%;
        }

        .title-div a {
            width: 8%;
            padding: 1%;
            margin: 1%;
        }

        .title-div img {
            transition: transform 0.1s ease; /* Smooth transition */
            object-fit: contain;
            width: 100%;
            height: 100%;
        }

            .title-div img:hover {
                transform: scale(1.1);
            }

    ul {
        padding: 2px;
        font-size: min(3vw, 3vh);
    }

    .description-me {
        margin-top: 10%;
        width: 90%;
        font-size: min(2.5vw, 2.5vh);
    }

    .page {
        width: min(5%, 5%);
        margin: 1%;
    }

    .pageActive {
        width: min(5%, 5%);
        margin: 1%;
    }
}

@media (min-width: 768px) and (max-width: 1023px) and (orientation: portrait) {

    .game {
        display: grid;
        grid-template-columns: 1fr; /* Forces a single column */
        grid-template-rows: auto auto auto; /* Ensures all items stack */
        margin: 5% 0% 0% 10%;
        gap: 0px;
    }

    .game-description {
        margin-top: 3%;
    }

    .video-div {
        width: 80%;
        grid-row: 2;
        grid-column: 1;
    }

    .text-div {
        margin: 0% 0% 0% -5%;
        width: 90%;
        grid-row: 3;
        grid-column: 1;
    }

    .description-project {
        font-size: 3vw;
    }

    .screenshot {
        display:none;
    }

    .slide {
        height: 90%;
        top: 0%;
        display: block;
    }

    li {
        font-size: 3vw;
    }

    #intro-text {
        font-size: 3vw;
    }

    .title-project {
        margin-top: 5%;
        font-size: 6vw;
    }

    #title {
        font-size: 10vw;
    }

    .gametags {
        margin: 0%;
        transform: translateY(100%);
    }

    .label {
        font-size: 3vw;
        padding: 2px 4px;
    }

    .title-div {
        grid-row: 1;
        grid-column: 1;
        height: 11vw;
        display: flex;
        width: 90%;
        transform: translateY(-50%);
    }

        .title-div span {
            float: left;
            text-align: center;
            margin-top: 3%;
        }

        .title-div a {
            width: 8%;
            padding: 1%;
            margin: 1%;
        }

        .title-div img {
            transition: transform 0.1s ease; /* Smooth transition */
            object-fit: contain;
            width: 100%;
            height: 100%;
        }

            .title-div img:hover {
                transform: scale(1.1);
            }

    ul {
        padding: 2px;
        font-size: 3vw;
    }

    .description-me {
        margin-top: 10%;
        width: 90%;
        margin-left: 5%;
        font-size: 2.5vw;
    }

    .page {
        width: min(5%, 5%);
        margin: 0% 1% 0% 1%;
    }

    .pageActive {
        width: min(5%, 5%);
        margin: 0% 1% 0% 1%;
        margin: 2%;
    }
}