html, body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-family: 'Times New Roman';
    font-size: 10pt;
    font-weight: normal;
    font-style: normal;
    color: white;
    margin-top: 0px;
    margin-left: 0px;
    background-image: url("images/background.png");
    background-size: cover;
    letter-spacing: 0.003em;
}

.pagination {
    width: 100%;
    height: 10%;
    bottom: 5%;
    position: fixed;
    text-align: center;
    z-index: 1000;
}

.page {
    border-radius: 10%;
    width: 5%;
    margin-left: 1%;
    transition: transform 0.1s ease; /* Smooth transition */
}

.page:hover
{
    transform: scale(1.2);
}

.pageActive {
    border-radius: 10%;
    width: 5%;
    margin-left: 1%;
}

.header {
    width: 100%;
    margin: auto;
    margin-top: -35%;
}

.slide {
    width: 100%;
    min-height: 75%;
    color: #000;
    position: absolute;
    top: 14%;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0;
    margin:auto;
    text-align: left;
    overflow: visible;
}

.label {
    border-radius: 4px;
    font-family: 'Bahnschrift';
    font-size: 1.2vw;
    text-align: center;
    color: white;
    padding: 5px;
    line-height: normal;
    padding-left: 6px;
    padding-right: 6px;
    display: inline-block;
    margin-bottom: 0.3em;
    margin-right: 0.3em;
    transition: transform 0.1s ease; /* Smooth transition */
}

.label:hover
{
    transform: scale(1.1);
}

.gametags
{
    margin-top: 2%;
    margin-bottom: 3%;
    height:fit-content;
    width: 100%;
}

.orange {
    background-color: #d86b29;
}

.orange2 {
    background-color: #9d421e;
}

.orangeDark {
    background-color: #8a4831;
}

.orangeLight {
    background-color: #f58f2c;
}

.screenshot {
    margin-left: 5%;
    width: 50%;
    min-width: 2px;
    position: relative;
    display: block;
    float: left;
    clear: left;
    overflow: hidden;
    background-size: 100%;
    box-shadow: 4px 4px 20px -6px rgba(0, 0, 0, 0.2);
    border-radius: 6px;
}

.landscape {
    margin-left: -5%;
    width: 50%;
    min-width: 2px;
    position: relative;
    display: block;
    float: left;
    clear: left;
    overflow:visible;
    background-size: 100%;
    box-shadow: 4px 4px 20px -6px rgba(0, 0, 0, 0.2);
    border-radius: 6px;
}

.pfp {
    background-image:url("images/pfpTest.png");
}

.assets {
    background-image: url("images/assets16.png");
}

ul {
    padding: 2px;
    font-size: 1.2vw;
}

li {
    margin-left: 1em;
    margin-bottom: 0.3em;
    font-size: 1.2em;
}

.video {
    margin-left: 5%;
    width: 47.5%;
    height: fit-content;
    display: block;
    float: left;
    clear: left;
    overflow: hidden;
    border-radius: 6px;
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-container {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    align-items: center;
}

.swiper-slide img {
    display: block;
    object-fit: cover;
}

.square {
    width: 30%;
    padding-top: calc(0.32 * 100%);
}

.assetsquare {
    width: 57%;
    overflow: visible;
    padding-top: calc(0.32 * 100%);
}

.description {
    width: 44%;
    float: left;
    margin-left: 20px;
    height: 55%;
    line-height: 1.2;
    color: white;
    font-family: 'Times New Roman';
}

.description-me {
    width: 60%;
    height: 100%;
    float: left;
    margin-left: 20px;
    color: white;
    font-size: 1.5vw;
    line-height: 1.2;
    font-family: 'Times New Roman';
}

.play {
    content: url(images/game.png);
    width: 20%;
}

.play:hover {
    content: url(images/gameactive.png);
}

.hub {
    content: url(images/github.png);
}

.hub:hover {
    content: url(images/githubactive.png);
}

.description-project {
    margin-top: -2%;
    width: 100%;
    float: left;
    height: fit-content;
    font-weight: 400;
    font-size: 1.4vw;
}

.title-project {
    font-family: 'Gill Sans';
    font-size: 2.5vw;
    font-weight: bold;
    font-style: normal;
    color: white;
    text-shadow: 2px 2px 2px rgba(150, 150, 150, 0.4);
}

.intro {
    width: 80%;
    text-align: center;
    margin: auto;
    margin-top: 25%;
}

#title {
    font-family: 'Gill Sans';
    font-size: 5vw;
    font-weight: normal;
    width: 100%;
    font-style: normal;
    color: white;
    text-shadow: 2px 2px 2px rgba(150, 150, 150, 0.4);
    margin-bottom: 0px;
}

#intro-text {
    font-family: 'Bahnschrift';
    font-weight: 400;
    font-style: normal;
    color: white;
    margin-bottom: 1em;
    margin-top: 2em;
    line-height: 1.6em;
    font-size: 1.4vw;
    text-align: center;
    letter-spacing: 0.003em;
}

.quick_links {
    width: 90%;
    padding-left: 5%;
    margin-left: 32.5%;
}

.quick_links img {
    float: left;
    margin-top: 2%;
    margin-right: 2%;
    height: 10%;
    width: 5%;
    transition: transform 0.1s ease; /* Smooth transition */
}

.quick_links img:hover{
    transform: scale(1.2);
}

/*LinkedIn*/
.quick_links #linkedin { content: url(images/linkedin.png); }

.quick_links #linkedin:hover { content: url(images/linkedinactive.png); }

/*GitHub*/
.quick_links #github { content: url(images/github.png); }

.quick_links #github:hover { content: url(images/githubactive.png); }

/*Mail*/
.quick_links #mail { content: url(images/mail.png); }

.quick_links #mail:hover { content: url(images/mailactive.png); }

/*CV*/
.quick_links #cv { content: url(images/cv.png); }

.quick_links #cv:hover { content: url(images/cvactive.png); }

.downloads
{
    display: flex;
    width:100%;
    height: 3vw;
}

.downloads span
{
    float: left;
    text-align: center;
}

.downloads a {
    padding-left: 0.8em;
    text-align:left;
    width: 6%;
    height: 100%;
}

.downloads img {
    transition: transform 0.1s ease; /* Smooth transition */
    object-fit: contain;
    width: 100%;
    height: 100%;
}

.downloads img:hover
{
    transform: scale(1.2);
}

@media (max-width: 600px)
{
    .video {
        margin-left: 5%;
        width: 90%;
        height: fit-content;
        display: block;
        float: left;
        clear: left;
        overflow: hidden;
        border-radius: 6px;
    }

    .description {
        width: 90%;
        float: left;
        margin-left: 20px;
        height: 55%;
        line-height: 1.2;
        color: white;
        font-family: 'Times New Roman';
    }

    .description-project {
        width: 100%;
        float: left;
        height: fit-content;
        font-weight: 400;
        font-size: 3vw;
    }

    .slide {
        width: 100%;
        height: 100%;
        min-height: 75%;
        color: #000;
        position: absolute;
        top: 5%;
        bottom: 0;
        left: 0;
        right: 0;
        padding: 0;
        margin: auto;
        text-align: left;
        overflow: visible;
    }

    .screenshot {
        margin-left: 5%;
        width: 90%;
        height: 20%;
    }







    #intro-text {
        font-family: 'Bahnschrift';
        font-weight: 400;
        font-style: normal;
        color: white;
        margin-bottom: 1em;
        margin-top: 2em;
        line-height: 1.6em;
        font-size: 3vw;
        text-align: center;
        letter-spacing: 0.003em;
    }

    .title-project {
        font-family: 'Gill Sans';
        font-size: 10vw;
    }

    #title {
        font-family: 'Gill Sans';
        font-size: 10vw;
        font-weight: normal;
        width: 100%;
        font-style: normal;
        color: white;
        text-shadow: 2px 2px 2px rgba(150, 150, 150, 0.4);
        margin-bottom: 0px;
    }

    .gametags {
        margin-top: 2%;
        margin-bottom: 3%;
        height: fit-content;
        width: 100%;
    }

    .label {
        border-radius: 4px;
        font-family: 'Bahnschrift';
        font-size: 3vw;
        text-align: center;
        color: white;
        padding: 5px;
        line-height: normal;
        padding-left: 6px;
        padding-right: 6px;
        display: inline-block;
        margin-bottom: 0.3em;
        margin-right: 0.3em;
    }


    .downloads {
        display: flex;
        width: 100%;
        height: 10vw;
    }

    .downloads span {
        float: left;
        text-align: center;
    }

    .downloads a {
        padding-left: 0.8em;
        text-align: left;
        width: 8%;
        height: 100%;
    }

    .downloads img {
        transition: transform 0.1s ease; /* Smooth transition */
        object-fit: contain;
        width: 100%;
        height: 100%;
    }

    .downloads img:hover {
        transform: scale(1.2);
    }

    ul {
        padding: 2px;
        font-size: 3vw;
    }

    .description-me {
        width: 80%;
        height: 100%;
        float: left;
        margin-left: 5%;
        color: white;
        font-size: 3vw;
        line-height: 1.2;
        font-family: 'Times New Roman';
    }

    .pagination {
        width: 90%;
        margin-left: 5%;
        height: 10%;
        bottom: 10%;
        position: fixed;
        text-align: center;
        z-index: 1000;
    }

    .page {
        margin: 2%;
        border-radius: 10%;
        width: 16%;
        margin-left: 1%;
    }

    .pageActive {
        margin: 2%;
        border-radius: 10%;
        width: 16%;
        margin-left: 1%;
    }

    .quick_links {
        margin-top: 3%;
        width: 90%;
        height: 20%;
        text-align: center;
        margin-left: 25%;
    }

    .quick_links img {
        height: 20%;
        width: 10%;
    }
}